# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.production

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs and databases
*.log
*.sql
*.sqlite

# Other
.cache/
.parcel-cache/
.next/
.nuxt/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.yarn/
.pnp.*